@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
.carousel-inner {
  width: 100%;
  height: 500px;
}

.carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #F2D5C4;
}

.botones {
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}

.botones div {
  background-color: #F2AD94;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.botones div h2 a {
  color: #023859;
  text-decoration: none;
}

.botones a:hover {
  color: #4189A6;
}

.texto {
  margin: 20px;
  padding: 20px;
  background-color: #F2D5C4;
  font-family: "Source Sans 3", sans-serif;
  margin: 30px;
  text-align: center;
  border-radius: 20px;
}
.texto h3 {
  font-family: "Roboto Condensed", sans-serif;
  color: #023859;
}
.texto p {
  text-align: justify;
}

.miHistoria {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.miHistoria {
  margin: 50px;
  background-color: #F2D5C4;
  border-radius: 20px;
}
.miHistoria p {
  text-align: justify;
}

.miHistoria img {
  margin-left: 50px;
  width: 50%;
  border-radius: 20px;
}

.miMision {
  display: flex;
  flex-direction: inline-block;
  align-items: center;
}

.miMision {
  margin: 50px;
  background-color: #F2D5C4;
  border-radius: 20px;
}
.miMision p {
  text-align: justify;
}

.miMision img {
  width: 40%;
  margin-right: 50px;
  border-radius: 20px;
}

.beneficios {
  display: flex;
  flex-direction: row;
  text-align: justify;
}

.beneficios {
  margin: 50px;
  background-color: #F2D5C4;
  border-radius: 30px;
}

.beneficios img {
  width: 30%;
  border-radius: 20px;
}

.videos {
  display: inline-block;
  flex-direction: column;
  margin: 30px;
  text-align: center;
}

.clases {
  background-color: #F2D5C4;
}

p {
  text-align: center;
}

form {
  border-radius: 3px;
  margin: 20px;
}

.btn.botonForm {
  background-color: #F2AD94;
  color: #023859;
  border-radius: 2px;
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: center;
  border-radius: 2px;
}

form label {
  color: #023859;
  font-weight: bold;
}

.botonForm:hover {
  background-color: #4189A6;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  header .navbar-collapse {
    width: 100%;
  }
  header .navbar-collapse .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  header .navbar-collapse .nav-item {
    margin: 5px 0;
    width: 100%;
  }
  header .navbar-collapse .nav-item .nav-link {
    width: 100%;
    text-align: left;
    padding: 10px;
  }
  .botones {
    flex-direction: column;
  }
  .footer-nav ul {
    flex-direction: column;
    align-items: center;
  }
  .footer-nav ul .footer-nav a {
    flex-direction: column;
    text-align: center;
  }
  .miHistoria {
    flex-direction: column;
  }
  .miMision {
    flex-direction: column;
    align-items: center;
  }
  .beneficios {
    flex-direction: column;
  }
  .videos iframe {
    flex-direction: column;
    width: 60%;
    height: 40%;
  }
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header {
  background-image: linear-gradient(to bottom, #F2AD94, #F2D5C4);
  justify-content: space-between;
  padding: 10px;
}
header h1 {
  color: white;
  font-family: "Great Vibes", cursive;
}
header .navbar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
header .navbar li {
  margin: 0 10px;
}
header .navbar a {
  color: #023859;
  text-decoration: none;
  margin: 5px;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
}
header .navbar a:hover {
  color: #4189A6;
}

.h2 {
  margin: 30px;
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #023859;
}

h3 {
  margin: 15px;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2rem;
  color: #023859;
}

p {
  display: flex;
  font-family: "Source Sans 3", sans-serif;
  color: #023859;
  padding: 40px;
  justify-content: center;
  background-color: beige;
  margin: 20px;
  text-align: justify;
}

body {
  background: #d9a7c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  background-image: linear-gradient(to top, #F2AD94, #F2D5C4);
  padding: 20px 10px;
  margin-top: 20px;
  text-align: center;
}
footer .footer-nav ul {
  list-style-type: none;
  padding: 0;
}
footer .footer-nav li {
  display: inline;
  margin: 0 15px;
}
footer .footer-nav a {
  color: #023859;
  text-decoration: none;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
}
footer .footer-nav a:hover {
  color: #4189A6;
}
footer .footer-redes h4 {
  margin-top: 20px;
  font-size: 1.5rem;
}
footer .footer-redes img {
  margin: 10px;
  width: 30px;
  height: 30px;
}
footer .footer-redes a:hover {
  color: #4189A6;
}

/*# sourceMappingURL=style.css.map */
