$colorPrimario: #F2AD94;
$colorTextos: #023859;
$colorHover: #4189A6;
$colorSubtitulos:#F29985;
$colorFondosDiv: #F2D5C4;
$fuentesNavFooterYsubtitulos: "Roboto Condensed", sans-serif;
$fuenteH1:"Great Vibes", cursive;
$colorFondoP: beige;
$fuenteTexto: "Source Sans 3", sans-serif ;